body {
    background-color: rgb(197, 197, 197);
}

body, ul, li{
    display: flex;
}

body ul {
    justify-content: space-between;
    flex-wrap: wrap;
}

section li { 
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    background-color: antiquewhite;
    box-shadow: 10px 5px 5px black;
}