@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Raleway:wght@700;800&display=swap');

section {
    display: flex;
    height: 600px;
    padding: 0 200px;
    padding-top: 40px;
    padding-bottom: 80px;
}

section .info h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    padding-bottom: 30px;
}

section .info p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 22px;
    line-height: 1.2;
    color: #919191;
    letter-spacing: 1px;
}

section .info .bigger__text {
    padding-bottom: 20px;
}





