body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    display: block;
    font-size: 14px;
    font-weight: 200;
    line-height: 2;   
    border: 2px solid black;
    border-radius: 3px;
    width: 120px;
    padding-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid black;
    border-radius: 3px;
    width: 210px;
}

.container input {
    width: 200px;
}

.container label {
    font-size: 14px;
    font-weight: 600;
}

.container .psw {
    padding-top: 20px;
}

.container button {
    margin-top: 20px;
    width: 60px;
}