body {

    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    line-height: 1.5;
    padding: 30px;
}

article {
    width: 70%;   
}

div {
    display: inline-block;
}

aside {
    float: right;
    display: inline-block;
}

img {
    width: 70%
}

