body {
    margin: 50px;
    background-color: antiquewhite;
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

header ul li {
    padding: 10px;
    list-style: none;
}

