@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    margin: 20px 150px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #0a66c2;
}

header span {
    color: #ffffff;
    /* margin: 1px; */
    background-color: #0a66c2;
    border-radius: 5px;
    padding: 0 3px;
    margin: 5px;;
}

header nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

header nav ul .join a {
    font-size: 1.5rem;
    color: #666666;
}

header nav ul .sign {
    padding: 15px 30px;
    border: 2px solid #146cc5;
    border-radius: 40px;
    font-weight: 500;
}

header nav ul .sign a{
    font-size: 1.5rem;
    color: #0a66c2;
    
}

header nav ul a {
    text-decoration: none;
}

/* First Section */

.first__section {
    display: flex;

}

.first__section .info h2 {
    line-height: 1.2;
    font-size: 4.2rem;
    color: #2977c9;
    margin-bottom: 15px;
}

.first__section img {
    width: 50%;
}

section.section.first__section > div > div {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.first__section .info .input input{
   padding: 15px 0;
   padding-left: 10px;
   font-size: large;
   margin-bottom: 15px;
}

.first__section .info .input a {
   font-size: 1.4rem;
   text-decoration: none;
   margin-bottom: 15px;
   padding: 10px 0;
   color: #746d66;
}