@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* Utilities */

.grey {
    font-size: 32px;
    padding: 25px 35px;
    border-radius: 50px;
    border-radius: 5px solid black;
    align-self: center;
    background-color: transparent;
    font-weight: 600;
}


/* HTML */

html {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    /* margin-left: 170px; */
}


/* Header */

header, section, footer {
    padding-left: 170px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #0a66c2;
}

header span {
    color: #ffffff;
    /* margin: 1px; */
    background-color: #0a66c2;
    border-radius: 5px;
    padding: 0 3px;
    margin: 5px;;
}

header nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

header nav ul .join a {
    font-size: 1.5rem;
    color: #666666;
}

header nav ul .sign {
    padding: 15px 30px;
    border: 2px solid #146cc5;
    border-radius: 40px;
    font-weight: 500;
    margin-right: 200px;
}

header nav ul .sign a{
    font-size: 1.5rem;
    color: #0a66c2;
    
}

header nav ul a {
    text-decoration: none;
}

/* First Section */

.first__section {
    display: flex;
    background-color: #ffffff;
}

.first__section .info h2 {
    line-height: 1.2;
    font-size: 4.5rem;
    color: #2977c9;
    margin-bottom: 15px;
}

.first__section img {
    width: 56%;
}

section.section.first__section > div > div {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.first__section .info .input input{
   padding: 15px 0;
   padding-left: 10px;
   font-size: large;
   margin-bottom: 15px;
}

.first__section .info .input a {
   font-size: 1.4rem;
   text-decoration: none;
   margin-bottom: 15px;
   padding: 10px 0;
   color: #746d66;
}

.first__section .info .input button {
    text-align: center;
    font-size: 1.7rem;
    padding: 15px 0;
    border-radius: 30px;
    background-color: #2977c9;
    border-color: #2977c9;
    color: white;
}

/* Second Section */

.second__section {
    display: flex;
    justify-content: around;
    background-color: #faf9f7;
    /* padding: 200px; */
    padding-top: 200px;
    padding-bottom: 200px;
}

.second__section .h2__title {
    width: 33%;
}

.second__section h2 {
    font-size: 4.5rem;
    line-height: 1.2;
    color: #191818;
}

.second__sec__info {
    display: flex;
    flex-direction: column;   
}

.second__section .second__sec__info {
    width: 60%;
    padding-left: 100px;
}

.second__section .second__sec__info nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.second__section .second__sec__info h3 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #191818;
}

body > main > section.section.second__section > div.second__sec__info > nav > ul > li {
    padding: 30px;
    background-color: #e6e5e4;
    border-radius: 50px;
}


body > main > section.section.second__section > div.second__sec__info > nav > ul > li a { 
   font-size: 35px;
   text-decoration: none;
   color: #5c5c5b;
}

/* Third Section */

.third__section {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f1ece5;
}

.third__section h2 {
    font-size: 4rem;
    line-height: 1.2;
    color: #b24020;
    width: 40%;
}

/* .third__section button {
    font-size: 32px;
    padding: 25px 35px;
    border-radius: 50px;
    border-radius: 5px solid black;
    align-self: center;
    background-color: #f1ece5;
} */

/* Fourth Section */


.fourth__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf9f7;
    padding-top: 250px;
    padding-bottom: 250px;
}

.fourth__section .info {
    width: 47%;
}

.fourth__section img {
    width: 40%;
    padding-right: 160px;
}

.fourth__section .info h2 {
    font-size: 3.5rem;
    line-height: 1.3;
    color: #2977c9;
    padding-bottom: 20px;
}

.fourth__section .info p {
    font-size: 3rem;
    line-height: 1.2;
}

/* Fourth Section */

.fifth__section {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 200px;
}

.fifth__section .first,
.fifth__section .second {
    width: 40%;
}

.fifth__section .first img,
.fifth__section .second img {
    width: 60%;
    padding-bottom: 60px;
}

.fifth__section .first h2,
.fifth__section .second h2 {
    font-size: 4.5rem;
    line-height: 1.2;
    padding-bottom: 60px;
}


.fifth__section .second {
    padding-right: 160px;
}

/* Sixth Section */

.sixth__section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sixt__section {
    height: 80vh;
    background-image: url(images/background.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}