div {
    width: 280px;
    display: inline-block;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    margin-top: 20px;
    background-color: #0A2C48;
    color: #fff;
    border-radius: 4px;
}