@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

body {
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

header .headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .headings h2 {
    letter-spacing: 1px;
    margin-top: 5px;
}

header h1 {
    font-size: 2rem;
   font-weight: 600;
}

.divider {
    background-color: rgb(223, 217, 217);
    width: 1px;
    height: 20px;
    margin: 10px;
}

header h2 {
   font-size: 1rem;
}

header nav ul{
    display: flex;
    gap: 2px;
}

header ul li {
    background-color: antiquewhite;
    padding: 20px;
    /* display: inline-block; */

}

header ul li a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}