@Media screen and (max-width: 600px) {

    .main-head .logo {
        width: 210px;
    }

    body > div > section.hero-head {
        /* padding: 0 20px; */
        
    }

    body > div > section.hero-head > div {
        width: 100%;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    body > div > section.hero-head > header > nav {
        display: none;
    }

    body > div > section.hero-head > div {
        /* text-align: center; */
    }

    body > div > section.hero-head > div h1 {
        font-size: 46px;
        line-height: 1.8;
        float: none;
    }

    .hero-head .wrapper .goal {
        max-width: unset;
        align-self: center;
        line-height: 2;
        font-size: 22px;
    }

    .content-wrap h3 {
        text-align: center;
    }

    .module-text {
        text-align: center;
    }

    .bordered .wrapper {
        width: auto;
    }

    body > div > section.content.bordered > div > section {
        display: flex;
        flex-direction: column;
    }

    .content-wrap.two-col .col {
        display: flex;
        flex-direction: column;
        padding: 32px 16px;
    }
}