<h1>This is Web Calculator</h1>

<form method="Post">
    <input type="text" placeholder="Enter number" name="firstNumber" pattern="^[0-9]+\.?\d*$" />
    <input type="text" placeholder="Enter operation" name="operation" />
    <input type="text" placeholder="Enter number" name="secondNumber" pattern="^[0-9]+\.?\d*$" />

    <input type="submit" value="Submit" />
</form>

<h3 class="text-danger mt-5">Result: @ViewBag.Result</h3>