<h1>This is Web Calculator</h1>

<form method="Post">
    <input type="text" placeholder="Enter number" name="firstNumber" pattern="^\d+\.?\d*$" />
    <input type="text" placeholder="Enter ['-' '+' '*' '/']"  name="operation" pattern="^(-{1}|\+{1}|\/{1}|\*{1})$" />
    <input type="text" placeholder="Enter number" name="secondNumber" pattern="^\d+\.?\d*$" />

    <input type="submit" value="Submit" />
</form>

<h3 class="text-danger mt-5">Result: @ViewBag.Result</h3>